
.cart-title{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 5px;
    width: 95%;
    /* align-items: center; */
    margin: auto;
    
}
.cart-title-product{
    width: 55%;
    margin: auto;

}
.cart-title-price{
    width: 15%;
    margin: auto;

}
.cart-title-quantity{
    width: 15%;
    margin: auto;

}
.cart-title-total{
    width: 15%;
    margin: auto;

}
.cart-body{
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: center;
    align-items: center;  

}
.cart-body-product {
    display: flex;
    width: 55%;
}
.cart-body-product-img{
    width: 35%;
}
.cart-body-detail{
    display: flex;
    flex-direction: column;
    width: 60%;
}
.cart-body-description-remove{
    background-color: none;
    border: none;
    font-weight: 500;
}
.cart-body-price{
    width: 15%;
}
.cart-body-quantity{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 15%;

}
.cart-body-quantity{
    /* border: 0.5px solid gray; */
    padding: 4px;
    margin: 4px;
  
}
.cart-body-quantity button{
    border: 0.1px solid gray;
    justify-content: center;

}
.cart-body-total{
    width: 15%;

}