*{
    margin: 0;
    padding: 0;
}
.RestorentCard-card{
    display: flex;
    width: 95%;
    margin: 20px auto ;
}
.RestorentCard-card .RestorentCard-img{
    width: 40%;
    display: flex;
    align-items: center;
}
.RestorentCard-card .RestorentCard-img > img{
    width: 100%;
    border: 1px solid black;
    box-shadow: 5px 5px 10px black;
    border-radius: 15px;
    
}
.RestorentCard-card .restorentCard-detail{
    margin-left: 25px;
    width: 60%;
    align-items: center;
}