*{
    margin: 0;
    padding: 0;
}

.container{
    width: 250px;
    height: 350px;
    overflow-y: scroll;
    
    border: 2px solid black;
    margin: 10px;
    position: relative;
    box-shadow: 5px 5px 12px black ;
    transition: 350ms;
    text-decoration:none;
    color  :black;
}
.container:hover  {
    scale: 1.05;

}
::-webkit-scrollbar{
    width: 0px;
}
.container__data{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* height: calc(300px - .container > img ); */
    text-decoration:none;
}
.container > div{
    width: 90%;
    margin: auto;
}
.container > img{
    margin: 10px auto;
    width: 90%;
    display: flex;
    justify-content: center;
    background: transparent;
    border-radius: 12px;
}
.container .time{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    align-items: center;
    font-size:medium;
    margin: auto;
    
    

}
.container .time svg,
.container .time .span{
    width: 100%;
    margin: auto;
    font-size:medium;
}
.container .time *{
    margin: 0px 5px;
}

.container .offer{
    margin: 10px auto;
    text-align: center;
}
.container .promote{
    background-color: rgb(58, 60, 65);
    color: rgb(255, 255, 255);
    /* border-color: rgb(30, 32, 35) transparent; */
    align-items: center;
    width: 110px;
    padding: 3px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid white;

    position: absolute;
    top: 0px;
    left: 0px;
    visibility: hidden;

}
.container .star{
    background-color: #48c479;
    padding: 3px;
}