*{
    box-sizing: border-box;

}
.restorent__container{
    display: flex;
    justify-content: center;
    width: 100vw;
    box-sizing: border-box;

}
.restorent__container .contain{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    
}
.contain .link{
    text-decoration: none;
}